/*font-family: 'Yuji Syuku', serif*/
/*#region Colors */
/*
#992822(Dark Red)
#000000(Black)
#E08938(Orange)
#FFFFFF(white)
*/
/*#endregion */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

header {
    width: 500px;
    height: 150px;
    border-radius: 150px;
    background: content-box;
}

    header h1, header p {
        color: floralwhite;
        text-align: center;
    }

#frontDev {
    width: 85px;
    margin: auto;
}

h4 {
    background-color: white;
}

nav a {
    font-size: x-large;
    font-weight: bold;
    color: #fff
}

nav ul li a {
    padding: .4em 1em;
    display: block;
}

ul li a {
    padding: .4em 1em;
    display: block;
}

nav ul li {
    display: inline-block;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

li:hover {
    background: #0026ff;
}

h1 {
    color: #992822
}

h2 {
    color: #992822;
}

h3 {
    color: #992822;
}



body {
    text-align: center;
    background: url(../Images/Backdrop.png) no-repeat center center fixed;
    background-size: cover;
    background-color: cornflowerblue;
    margin: 0;
}

main {
    background-color: cornflowerblue;
    opacity: .85;
}

    main p {
        color: floralwhite;
    }

    main h2 {
        font-style: italic;
    }

footer {
    color: #000;
    font-style: italic;
}
