body {
    background-color: Khaki;
}

header {
    background-color: #ED8A11;
    color: #234399;
}

h1 {
    color: #234399;
}

p{
    color: darkblue;
    font-family: Papyrus;
}

h2 {
    font-style: italic;
    color: #992811;
}

li {
    display: inline;
    float: left;
    padding: 8px;
    display: block;
    background-color: darkgray;
    color: #992811;
}

#FT{
    font-style: italic;
    font-size: 20px;
    color: purple
}

nav ul{
    background-color: black;
    padding: 0;
    border-top: 4px medium;
    border-bottom: 4px medium;        
}

nav ul li{
    display: inline-block;
}

nav a:hover, nav a:active, nac a:focus{
    text-decoration: none;
}

nav ul li:hover{
    background-color: orange;
}

